<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="img-box green-box"><img data-edit="img" src="{{img}}"/></div>
        <div class="name-box">
            <input class="green-box name-field" name="name" type="text" value="{{name}}"/>
            <input class="green-box desc-field" name="system.description" type="text" value="{{system.description}}"/>
            <button id="diceroller" class="dicebutton" type="button">Dice Roller</button>
        </div>
    </header>
    <div class="npc-sheet-content">
        <table class="npc-table">
            <tr>
                <td class="label">{{localize "MYRIADSONG.size"}}</td>
                <td>
                    <input type="text" name="system.size" value="{{system.size}}"/>
                </td>
                <td class="label">{{localize "MYRIADSONG.initiative"}}</td>
                <td>
                    <input type="text" class="roll-box" name="system.battlearray.initiative" value="{{system.battlearray.initiative}}"/>
                    <a class="diceroll" data-attr="initiative">
                        <i class="fas fa-dice"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="label">{{localize "MYRIADSONG.traits"}}</td>
                <td colspan="3">
                    <input type="text" name="system.traits" value="{{system.traits}}"/>
                </td>
            </tr>
            <tr>
                <td class="label">{{localize "MYRIADSONG.skills"}}</td>
                <td colspan="3">
                    <input type="text" name="system.skills" value="{{system.skills}}"/>
                </td>
            </tr>
            <tr>
                <td class="label">{{localize "MYRIADSONG.move"}}</td>
                <td colspan="3">
                    <div class="horizontal-align-box">
                        <div>
                            {{localize "MYRIADSONG.stride"}} &nbsp;
                            <input type="text" class="small-box" name="system.battlearray.stride" value="{{system.battlearray.stride}}"/>
                        </div>
                        <div>
                            {{localize "MYRIADSONG.dash"}} &nbsp;
                            <input type="text" class="small-box" name="system.battlearray.dash" value="{{system.battlearray.dash}}"/>
                        </div>
                        <div>
                            {{localize "MYRIADSONG.scramble"}} &nbsp;
                            <input type="text" class="short-box" name="system.battlearray.scramble" value="{{system.battlearray.scramble}}"/>
                            <a class="diceroll" data-attr="scramble">
                                <i class="fas fa-dice"></i>
                            </a>
                        </div>
                        <div>
                            {{localize "MYRIADSONG.run"}} &nbsp;
                            <input type="text" class="small-box" name="system.battlearray.run" value="{{system.battlearray.run}}"/>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">{{localize "MYRIADSONG.attack"}}</td>
                <td colspan="3">
                    <div class="item-list">
                    {{#each attacks as |attack index|}}
                        <div class="attack-div item" data-item-id="{{attack.id}}">
                            <span>{{attack.name}}@{{attack.system.strike}}</span>
                            <div>
                                <input name="attack.system.pool" class="weapon-dice" value="{{attack.system.pool}}"/>
                                &nbsp;
                                <a class="attack-roll">
                                    <i class="fas fa-dice"></i>
                                </a>
                            </div>
                            <span>{{attack.system.effectString}}</span>
                            <div>
                                <a class="item-edit" data-type="gift">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="item-delete" data-type="gift">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                    <div>
                        <a class="item-create" data-type="weapon" title='{{localize "MYRIADSONG.addattack"}}'><i class="fas fa-plus"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">{{localize "MYRIADSONG.counter"}}</td>
                <td colspan="2"><input type="text" name="system.counter.description" placeholder='{{localize "MYRIADSONG.description"}}' 
                        value="{{system.counter.description}}"/></td>
                <td>
                    <input type="text" class="roll-box" name="system.counter.formula" placeholder='{{localize "MYRIADSONG.dice"}}'
                        value="{{system.counter.formula}}"/>
                    <a class="diceroll" data-attr="counter"><i class="fas fa-dice"></i></a>
                </td>
            </tr>
            <tr>
                <td class="label">{{localize "MYRIADSONG.dodge"}}</td>
                <td colspan="2"><input type="text" name="system.dodge.description" placeholder='{{localize "MYRIADSONG.description"}}' 
                        value="{{system.dodge.description}}"/></td>
                <td>
                    <input type="text" class="roll-box" name="system.battlearray.dodge" placeholder='{{localize "MYRIADSONG.dice"}}'
                        value="{{system.battlearray.dodge}}"/>
                    <a class="diceroll" data-attr="dodge"><i class="fas fa-dice"></i></a>
                </td>
            </tr>
            <tr>
                <td class="label">{{localize "MYRIADSONG.soak"}}</td>
                <td colspan="2"><input type="text" name="system.soak.description" placeholder='{{localize "MYRIADSONG.description"}}' 
                        value="{{system.soak.description}}"/></td>
                <td>
                    <input type="text" class="roll-box" name="system.battlearray.soak" placeholder='{{localize "MYRIADSONG.dice"}}'
                        value="{{system.battlearray.soak}}"/>
                    <a class="diceroll" data-attr="soak"><i class="fas fa-dice"></i></a>
                </td>
            </tr>

            <tr>
                <td class="label">{{localize "MYRIADSONG.rally"}}</td>
                <td>
                    <input type="text" style="width: calc(100% - 30px);" name="system.battlearray.rally" value="{{system.battlearray.rally}}"/>
                    <a class="diceroll" data-attr="rally"><i class="fas fa-dice"></i></a>
                </td>
                <td colspan="2"></td>
            </tr>
        </table>
        <table class="npc-table">
            <tr>
                <td colspan="5" class="label">Gifts</td>
            </tr>
            {{#each gifts as |gift giftId|}}
            <tr class="item" data-item-id="{{gift.id}}">
                <td class="name">{{gift.name}}</td>
                <td class="toggle">
                    {{{system.summary}}}<br/>
                </td>
                <td class="centre">{{gift.system.costString}}</td>
                <td>
                    <input class="gift-check" type="checkbox" name="{{gift.system.check}}"
                        {{#if (eq gift.system.check true)}}checked{{/if}}/>
                </td>
                <td>
                    <a class="item-edit" data-type="gift">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="item-delete" data-type="gift">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {{/each}}    
        </table>
        <div>
            <a class="item-create" data-type="gift" title='{{localize "MYRIADSONG.addgift"}}'><i class="fas fa-plus"></i></a>
        </div>
    </div>
</form>