<div class="tab profile" data-group="primary" data-tab="profile">

    <div class="vertical-align-box">
        <div class="heading-box"><span class="heading">{{localize "MYRIADSONG.traits"}}</span></div>
        <div class="horizontal-align-box indent-box">
            <div class="trait-box">
                <span class="attribute-label">{{localize "MYRIADSONG.trait.body"}}</span>
                d<input class="green-box trait-input" name="system.body" value="{{system.body}}">
            </div>
            <div class="trait-box">
                <span class="attribute-label">{{localize "MYRIADSONG.trait.speed"}}</span>
                d<input class="green-box trait-input" name="system.speed" value="{{system.speed}}">
            </div>
            <div class="trait-box">
                <span class="attribute-label">{{localize "MYRIADSONG.trait.mind"}}</span>
                d<input class="green-box trait-input" name="system.mind" value="{{system.mind}}">
            </div>
            <div class="trait-box">
                <span class="attribute-label">{{localize "MYRIADSONG.trait.will"}}</span>
                d<input class="green-box trait-input" name="system.will" value="{{system.will}}">
            </div>
            <div class="trait-box">
                <span class="attribute-label">{{localize "MYRIADSONG.trait.legacy"}}</span>
                d<input class="green-box trait-input" name="system.legacy" value="{{system.legacy}}">
            </div>
            <div class="trait-box">
                <span class="attribute-label">{{localize "MYRIADSONG.trait.career"}}</span>
                d<input class="green-box trait-input" name="system.career" value="{{system.career}}">
            </div>
        </div>
    </div>
    
    <div class="vertical-align-box">
        <div class="heading-box"><span class="heading">{{localize "MYRIADSONG.goals"}}</span></div>
        <div class="indent-box">
            <div class="goal-box">
                <span class="goal-number">1.</span>
                <input class="attribute" name="system.goals.goal1" value="{{system.goals.goal1}}"/>
            </div>
            <div class="goal-box">
                <span class="goal-number">2.</span>
                <input class="attribute" name="system.goals.goal2" value="{{system.goals.goal2}}"/>
            </div>
            <div class="goal-box">
                <span class="goal-number">3.</span>
                <input class="attribute" name="system.goals.goal3" value="{{system.goals.goal3}}"/>
            </div>
        </div>
    </div>

    <div class="vertical-align-box">
        <div class="heading-box"><span class="heading">{{localize "MYRIADSONG.personal-motto"}}</span></div>
        <div class="goal-box indent-box">
        <input class="attribute" name="system.personal-motto" value="{{system.personal-motto}}"/>
        </div>
    </div>

    <div class="vertical-align-box">
        <div class="heading-box"><span class="heading">{{localize "MYRIADSONG.attributes"}}</span></div>
        <div class="indent-box">
            <table class="attribute-table">
                <tr>
                    <td><span class="attribute-label">{{localize "MYRIADSONG.personality"}}</span></td>
                    <td><input class="attribute" name="system.personality" value="{{system.personality}}"/></td>
                    <td><span class="attribute-label">{{localize "MYRIADSONG.trait.legacy"}}</span></td>
                    <td><input class="attribute" name="system.legacy-name" value="{{system.legacy-name}}"/></td>
                </tr>
                <tr>
                    <td><span class="attribute-label">{{localize "MYRIADSONG.upbringing"}}</span></td>
                    <td><input class="attribute" name="system.upbringing" value="{{system.upbringing}}"/></td>
                    <td><span class="attribute-label">{{localize "MYRIADSONG.trait.career"}}</span></td>
                    <td><input class="attribute" name="system.career-name" value="{{system.career-name}}"/></td>
                </tr>
            </table>
        </div>
    </div>

</div>