<div class="tab skills" data-group="primary" data-tab="skills">
    <div class="indent-box">
    <table class="skills-table">
        <tr>
            <td><span class="skill-header">{{localize "MYRIADSONG.favourite-use"}}</span></td>
            <td><span class="skill-header">{{localize "MYRIADSONG.marks"}}</span></td>
            <td><span class="heading">{{localize "MYRIADSONG.skills"}}</span></td>
            <td><i style="color: blue;">{{localize "MYRIADSONG.dice-from"}}</i><br/>
                <span class="skill-header">{{localize "MYRIADSONG.marks"}}</span>
            </td>
            <td><i style="color: blue;">{{localize "MYRIADSONG.dice-from"}}</i><br/>
                <span class="skill-header">{{localize "MYRIADSONG.trait.legacy"}}</span>
            </td>
            <td><i style="color: blue;">{{localize "MYRIADSONG.dice-from"}}</i><br/>
                <span class="skill-header">{{localize "MYRIADSONG.trait.career"}}</span>
            </td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.academics.favourite" value="{{system.skills.academics.favourite}}"/></td>
            <td><input class="marks" name="system.skills.academics.marks" value="{{system.skills.academics.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.academics"}}
                <a class="skill-roll" data-skill="academics"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.academics.marksDice" value="{{system.skills.academics.marksDice}}"/></td>
            <td><input name="system.skills.academics.legacyDice" value="{{system.skills.academics.legacyDice}}"/></td>
            <td><input name="system.skills.academics.careerDice" value="{{system.skills.academics.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.athletics.favourite" value="{{system.skills.athletics.favourite}}"/></td>
            <td><input class="marks" name="system.skills.athletics.marks" value="{{system.skills.athletics.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.athletics"}}
                <a class="skill-roll" data-skill="athletics"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.athletics.marksDice" value="{{system.skills.athletics.marksDice}}"/></td>
            <td><input name="system.skills.athletics.legacyDice" value="{{system.skills.athletics.legacyDice}}"/></td>
            <td><input name="system.skills.athletics.careerDice" value="{{system.skills.athletics.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.craft.favourite" value="{{system.skills.craft.favourite}}"/></td>
            <td><input class="marks" name="system.skills.craft.marks" value="{{system.skills.craft.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.craft"}}
                <a class="skill-roll" data-skill="craft"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.craft.marksDice" value="{{system.skills.craft.marksDice}}"/></td>
            <td><input name="system.skills.craft.legacyDice" value="{{system.skills.craft.legacyDice}}"/></td>
            <td><input name="system.skills.craft.careerDice" value="{{system.skills.craft.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.deceit.favourite" value="{{system.skills.deceit.favourite}}"/></td>
            <td><input class="marks" name="system.skills.deceit.marks" value="{{system.skills.deceit.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.deceit"}}
                <a class="skill-roll" data-skill="deceit"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.deceit.marksDice" value="{{system.skills.deceit.marksDice}}"/></td>
            <td><input name="system.skills.deceit.legacyDice" value="{{system.skills.deceit.legacyDice}}"/></td>
            <td><input name="system.skills.deceit.careerDice" value="{{system.skills.deceit.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.endurance.favourite" value="{{system.skills.endurance.favourite}}"/></td>
            <td><input class="marks" name="system.skills.endurance.marks" value="{{system.skills.endurance.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.endurance"}}
                <a class="skill-roll" data-skill="endurance"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.endurance.marksDice" value="{{system.skills.endurance.marksDice}}"/></td>
            <td><input name="system.skills.endurance.legacyDice" value="{{system.skills.endurance.legacyDice}}"/></td>
            <td><input name="system.skills.endurance.careerDice" value="{{system.skills.endurance.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.evasion.favourite" value="{{system.skills.evasion.favourite}}"/></td>
            <td><input class="marks" name="system.skills.evasion.marks" value="{{system.skills.evasion.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.evasion"}}
                <a class="skill-roll" data-skill="evasion"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.evasion.marksDice" value="{{system.skills.evasion.marksDice}}"/></td>
            <td><input name="system.skills.evasion.legacyDice" value="{{system.skills.evasion.legacyDice}}"/></td>
            <td><input name="system.skills.evasion.careerDice" value="{{system.skills.evasion.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.fighting.favourite" value="{{system.skills.fighting.favourite}}"/></td>
            <td><input class="marks" name="system.skills.fighting.marks" value="{{system.skills.fighting.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.fighting"}}
                <a class="skill-roll" data-skill="fighting"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.fighting.marksDice" value="{{system.skills.fighting.marksDice}}"/></td>
            <td><input name="system.skills.fighting.legacyDice" value="{{system.skills.fighting.legacyDice}}"/></td>
            <td><input name="system.skills.fighting.careerDice" value="{{system.skills.fighting.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.negotiation.favourite" value="{{system.skills.negotiation.favourite}}"/></td>
            <td><input class="marks" name="system.skills.negotiation.marks" value="{{system.skills.negotiation.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.negotiation"}}
                <a class="skill-roll" data-skill="negotiation"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.negotiation.marksDice" value="{{system.skills.negotiation.marksDice}}"/></td>
            <td><input name="system.skills.negotiation.legacyDice" value="{{system.skills.negotiation.legacyDice}}"/></td>
            <td><input name="system.skills.negotiation.careerDice" value="{{system.skills.negotiation.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.observation.favourite" value="{{system.skills.observation.favourite}}"/></td>
            <td><input class="marks" name="system.skills.observation.marks" value="{{system.skills.observation.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.observation"}}
                <a class="skill-roll" data-skill="observation"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.observation.marksDice" value="{{system.skills.observation.marksDice}}"/></td>
            <td><input name="system.skills.observation.legacyDice" value="{{system.skills.observation.legacyDice}}"/></td>
            <td><input name="system.skills.observation.careerDice" value="{{system.skills.observation.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.presence.favourite" value="{{system.skills.presence.favourite}}"/></td>
            <td><input class="marks" name="system.skills.presence.marks" value="{{system.skills.presence.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.presence"}}
                <a class="skill-roll" data-skill="presence"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.presence.marksDice" value="{{system.skills.presence.marksDice}}"/></td>
            <td><input name="system.skills.presence.legacyDice" value="{{system.skills.presence.legacyDice}}"/></td>
            <td><input name="system.skills.presence.careerDice" value="{{system.skills.presence.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.psyche.favourite" value="{{system.skills.psyche.favourite}}"/></td>
            <td><input class="marks" name="system.skills.psyche.marks" value="{{system.skills.psyche.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.psyche"}}
                <a class="skill-roll" data-skill="psyche"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.psyche.marksDice" value="{{system.skills.psyche.marksDice}}"/></td>
            <td><input name="system.skills.psyche.legacyDice" value="{{system.skills.psyche.legacyDice}}"/></td>
            <td><input name="system.skills.psyche.careerDice" value="{{system.skills.psyche.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.questioning.favourite" value="{{system.skills.questioning.favourite}}"/></td>
            <td><input class="marks" name="system.skills.questioning.marks" value="{{system.skills.questioning.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.questioning"}}
                <a class="skill-roll" data-skill="questioning"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.questioning.marksDice" value="{{system.skills.questioning.marksDice}}"/></td>
            <td><input name="system.skills.questioning.legacyDice" value="{{system.skills.questioning.legacyDice}}"/></td>
            <td><input name="system.skills.questioning.careerDice" value="{{system.skills.questioning.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.shooting.favourite" value="{{system.skills.shooting.favourite}}"/></td>
            <td><input class="marks" name="system.skills.shooting.marks" value="{{system.skills.shooting.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.shooting"}}
                <a class="skill-roll" data-skill="shooting"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.shooting.marksDice" value="{{system.skills.shooting.marksDice}}"/></td>
            <td><input name="system.skills.shooting.legacyDice" value="{{system.skills.shooting.legacyDice}}"/></td>
            <td><input name="system.skills.shooting.careerDice" value="{{system.skills.shooting.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.tactics.favourite" value="{{system.skills.tactics.favourite}}"/></td>
            <td><input class="marks" name="system.skills.tactics.marks" value="{{system.skills.tactics.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.tactics"}}
                <a class="skill-roll" data-skill="tactics"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.tactics.marksDice" value="{{system.skills.tactics.marksDice}}"/></td>
            <td><input name="system.skills.tactics.legacyDice" value="{{system.skills.tactics.legacyDice}}"/></td>
            <td><input name="system.skills.tactics.careerDice" value="{{system.skills.tactics.careerDice}}"/></td>
        </tr>
        <tr>
            <td class="favourite"><input name="system.skills.transport.favourite" value="{{system.skills.transport.favourite}}"/></td>
            <td><input class="marks" name="system.skills.transport.marks" value="{{system.skills.transport.marks}}"/></td>
            <td class="skill-name">{{localize "MYRIADSONG.skill.transport"}}
                <a class="skill-roll" data-skill="transport"><i class="fas fa-dice"></i></a>
            </td>
            <td><input name="system.skills.transport.marksDice" value="{{system.skills.transport.marksDice}}"/></td>
            <td><input name="system.skills.transport.legacyDice" value="{{system.skills.transport.legacyDice}}"/></td>
            <td><input name="system.skills.transport.careerDice" value="{{system.skills.transport.careerDice}}"/></td>
        </tr>
    </table>
    </div>
</div>
